<div class="modal-header">
	<h3 class="modal-title">Shuffle Progress - {{(progressData.percent_tracks_read + progressData.percent_tracks_written) / 2 | number: 2}}%</h3>
</div>
<div class="modal-body">
	<p>
		Reading track data from sources
		<progressbar class="progress-striped" value="progressData.percent_tracks_read">{{progressData.percent_tracks_read | number: 2}}%</progressbar>
	</p>
	<p>
		Writing tracks to destination playlist "{{selectionData.destination.name | characters:70}}"
		<progressbar class="progress-striped" value="progressData.percent_tracks_written">{{progressData.percent_tracks_written | number: 2}}%</progressbar>
	</p>

	<div ng-show="progressData.finished_read && progressData.finished_write">
		<div class="alert alert-success">
			<strong>SUCCESS!</strong> The playlist "{{selectionData.destination.name | characters:70}}" now contains
			{{selectionData.destination.total}} songs.
		</div>
		<div class="text-center">
			<button class="btn btn-primary" ng-click="ok()">Close</button>
		</div>
	</div>
</div>
